@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: azure;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

header{
    padding: 50px 0px 50px;
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    text-transform: uppercase;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: gold;
}

section{
    padding: 50px ;
    line-height: 2.5em;
}
section.imagens{
    background-color: rgb(233, 215, 215);

}
section.normal{
    background-color: rgb(175, 151, 197);

}